<html>
    <%- include('components/head') -%>

    <body>
        <%- include('components/header') -%>
        <%- include('components/jumbotron') -%>
        <%- include('components/highlights') -%>
        
        <%- include('components/products-container') -%>
        
        <%- include('components/footer') -%>
        
        <%- include('components/scripts') -%>
    </body>

</html>