<html>
    <%- include('components/head') -%>

    <body>
        <%- include('components/header') -%>
        
        <%- include('components/single-item') -%>
        
        <%- include('components/footer') -%>
        
        <%- include('components/scripts') -%>
    </body>

</html>